<h2>host | Home Component</h2>
<button mat-icon-button (click)="trace()">
  <mat-icon matTooltip="trace" style="-webkit-text-fill-color:gray">check_circle_outline</mat-icon>
</button>
<button mat-icon-button (click)="debug()">
  <mat-icon matTooltip="debug" style="-webkit-text-fill-color:gray">bug_report</mat-icon>
</button>
<button mat-icon-button (click)="info()">
  <mat-icon matTooltip="info" style="-webkit-text-fill-color:green">info_outline</mat-icon>
</button>
<button mat-icon-button (click)="warning()">
  <mat-icon matTooltip="warning" style="-webkit-text-fill-color:orange">warning_amber</mat-icon>
</button>
<button mat-icon-button (click)="error()">
  <mat-icon matTooltip="error" style="-webkit-text-fill-color:red">error_outline</mat-icon>
</button>
