<mat-toolbar *ngIf="(context$ | async) as context">
  <span>host application</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button routerLink="/home">
    <mat-icon matTooltip="home">home</mat-icon>
  </button>
  <button mat-icon-button routerLink="/dummy-login">
    <mat-icon matTooltip="dummy login">token</mat-icon>
  </button>
  <button mat-icon-button routerLink="/mfe1-log-message-tester">
    <mat-icon matTooltip="mfe one logmessage tester">input</mat-icon>
  </button>
  <button mat-icon-button [mat-menu-trigger-for]="messageMenu">
    <mat-icon matTooltip="log messages" matBadge="{{context.logMessagesLength}}" matBadgeColor="warn" matBadgeSize="small">dynamic_feed</mat-icon>
    <mat-menu #messageMenu="matMenu">
      <button mat-menu-item routerLink="/mfe1-log-messages">
        <mat-icon matTooltip="view log">view_list</mat-icon>
        <span>View</span>
      </button>
      <button mat-menu-item (click)="deleteLogMessages()">
        <mat-icon matTooltip="clear log">clear</mat-icon>
        <span>Clear</span>
      </button>
    </mat-menu>
  </button>
</mat-toolbar>
