<h2>Dummy Authentication Component from host (shell) application</h2>
<div *ngIf="(user$ | async) as user; else noUser">
  <table>
    <tr>
      <td><strong>logout</strong> {{user.name}}</td>
      <td>
        <button mat-icon-button (click)="logout()">
          <mat-icon matTooltip="logout" style="-webkit-text-fill-color:green">logout</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <div><pre>{{(user | json)}}</pre></div>
</div>
<ng-template #noUser>
  <form autocomplete="off" #form="ngForm" [formGroup]="loginFormGroup">
    <table>
      <tr>
        <td><strong>login</strong></td>
        <td>
          <mat-form-field appearance="standard" style="width: 400px !important;">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="username" [formControl]="userNameFormControl" required/>
            <mat-hint>enter your dummy user name</mat-hint>
            <mat-error *ngIf="userNameFormControl.hasError('required')">Username is <strong>required</strong></mat-error>
          </mat-form-field>
        </td>
        <td>
          <button mat-icon-button (click)="login()" (keydown.enter)="login()" [disabled]="form.invalid">
            <mat-icon matTooltip="login">login</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </form>
</ng-template>
