<mat-toolbar *ngIf="(context$ | async) as context">
  <span>host application</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button routerLink="/home">
    <mat-icon matTooltip="home">home</mat-icon>
  </button>
  <button mat-icon-button routerLink="/mfe1-log-message-tester">
    <mat-icon matTooltip="mfe one logmessage tester">input</mat-icon>
  </button>
  <button mat-icon-button routerLink="/mfe1-log-messages">
    <mat-icon matTooltip="mfe-one logmessages" matBadge="{{context.logMessages.length}}" matBadgeColor="warn" matBadgeSize="small">dynamic_feed</mat-icon>
  </button></mat-toolbar>
